<html>
<head>
  <title>My Map Test</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="jquery.js"></script> 
  <script> 
  $(function(){
    $("#includedContent").load("map.html"); 
  });
  </script> 
</head>
<body>

  <div class="header" id="myHeader">
    <h1>{{ header }}</h1>
  </div>
  
  {% extends "layout.html" %}
  {% block title %} Test {% endblock %}
  {% block head %} {{ super() }} {% endblock %}
  {% block body %}
      {% include "map.html" %}
  {% endblock %}

</body>
</html>
